<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CheckDangApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CheckDang">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.designsystem.DesignSystemActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.auth.onboarding.OnboardingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.lifestyle.exercise.ExerciseDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.lifestyle.meal.MealDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.lifestyle.sleep.SleepDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.bodymap.analysis.AIAnalysisActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.family.FamilyActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <activity
            android:name=".ui.menu.subscription.SubscriptionActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />

        <!-- 카카오 OAuth 리다이렉트 처리 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="kakao0da8cdd9268d25e9acf957d657ddce68" />
            </intent-filter>
        </activity>

    </application>

</manifest>
